<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>TDK</key>
		<value>
			<ConnectionString>server=192.168.4.5\MSSQL2012; database=HRPORTAL_STAGING; uid=development; password=*!guntursari17!*; Trusted_Connection=false; MultipleActiveResultSets=true; Max Pool Size=1000; Timeout=10000</ConnectionString>
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Database</description>
	</configuration-item>
	<configuration-item>
		<key>SecurityCenter</key>
		<value>
			<ConnectionString>server=192.168.4.6\MSSQL2016; database=SC_DB_TMMIN; uid=development; password=*!guntursari17!*; Trusted_Connection=false; MultipleActiveResultSets=true; Max Pool Size=1000; Timeout=10000</ConnectionString>
			<IsDefault>False</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>SSO Database</description>
	</configuration-item>
</configuration>