USE [TDK_SAMPLE_DB]
GO
/****** Object:  Table [dbo].[TB_M_CONDITION_TYPE]    Script Date: 8/3/2020 5:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_CONDITION_TYPE](
	[CONDITION_TYPE] [varchar](5) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CHANGED_DT] [datetime] NULL,
	[CHANGED_BY] [varchar](20) NULL,
	[CONDITION_TYPE_DESC] [varchar](50) NULL,
	[CALCULATION_TYPE] [varchar](20) NULL,
 CONSTRAINT [PK_TB_M_CONDITION_TYPE] PRIMARY KEY CLUSTERED 
(
	[CONDITION_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_DROPDOWN]    Script Date: 8/3/2020 5:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_DROPDOWN](
	[DROPDOWN_ID] [varchar](20) NOT NULL,
	[DROPDOWN_DESC] [varchar](50) NOT NULL,
	[DROPDOWN_QUERY] [varchar](max) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](20) NULL,
	[CHANGED_DT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DROPDOWN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_FUNCTION]    Script Date: 8/3/2020 5:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_FUNCTION](
	[MODULE_ID] [varchar](10) NOT NULL,
	[FUNCTION_ID] [varchar](20) NOT NULL,
	[FUNCTION_NAME] [varchar](200) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](20) NULL,
	[CHANGED_DT] [datetime] NULL,
 CONSTRAINT [PK_TB_M_FUNCTION] PRIMARY KEY CLUSTERED 
(
	[MODULE_ID] ASC,
	[FUNCTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_MATERIAL]    Script Date: 8/3/2020 5:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_MATERIAL](
	[MAT_NO] [varchar](23) NOT NULL,
	[PART_FLAG] [varchar](1) NOT NULL,
	[ORI_MAT_NO] [varchar](23) NULL,
	[SPECIAL_STOCK_VALUATION_FLAG] [varchar](1) NOT NULL,
	[UNIT_OF_MEASURE_CD] [varchar](3) NOT NULL,
	[CAR_FAMILY_CD] [varchar](4) NULL,
	[MAT_GRP_CD] [varchar](9) NOT NULL,
	[MAT_TYPE_CD] [varchar](4) NOT NULL,
	[DELETION_FLAG] [varchar](1) NOT NULL,
	[RE_EXPORT_CD] [varchar](1) NULL,
	[MAT_DESC] [varchar](40) NOT NULL,
	[AUTO_GOODS_ISSUE_FLAG] [varchar](1) NOT NULL,
	[SELECTIVE_FLAG] [varchar](1) NOT NULL,
	[CASE_EXPLOSION_FLAG] [varchar](1) NOT NULL,
	[DELETION_DT] [datetime] NULL,
	[MAT_IS_LOCKED] [varchar](1) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](20) NULL,
	[CHANGED_DT] [datetime] NULL,
	[PART_LIST_FLAG] [varchar](1) NULL,
	[PART_LIST_USAGE] [varchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_MODULE]    Script Date: 8/3/2020 5:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_MODULE](
	[MODULE_ID] [varchar](10) NOT NULL,
	[MODULE_NAME] [varchar](50) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](20) NULL,
	[CHABGED_DT] [datetime] NULL,
 CONSTRAINT [PK_TB_M_MODULE] PRIMARY KEY CLUSTERED 
(
	[MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_PLANT]    Script Date: 8/3/2020 5:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_PLANT](
	[PLANT_CD] [varchar](4) NOT NULL,
	[PLANT_NAME] [varchar](50) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](20) NULL,
	[CHANGED_DT] [datetime] NULL,
	[PLANT_ADDR] [varchar](60) NULL,
	[PLANT_CITY] [varchar](35) NULL,
	[PLANT_POSTAL_CD] [varchar](5) NULL,
 CONSTRAINT [PK_TB_M_PLANT] PRIMARY KEY CLUSTERED 
(
	[PLANT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_PROD_PURPOSE]    Script Date: 8/3/2020 5:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_PROD_PURPOSE](
	[PROD_PURPOSE_CD] [varchar](5) NOT NULL,
	[PROD_PURPOSE_NAME] [varchar](50) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](20) NULL,
	[CHANGED_DT] [datetime] NULL,
 CONSTRAINT [PK_TB_M_PROD_PURPOSE] PRIMARY KEY CLUSTERED 
(
	[PROD_PURPOSE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_SLOC]    Script Date: 8/3/2020 5:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_SLOC](
	[PLANT_CD] [varchar](4) NOT NULL,
	[SLOC_CD] [varchar](6) NOT NULL,
	[SLOC_NAME] [varchar](50) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](20) NULL,
	[CHANGED_DT] [datetime] NULL,
 CONSTRAINT [PK_TB_M_SLOC] PRIMARY KEY CLUSTERED 
(
	[PLANT_CD] ASC,
	[SLOC_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_SOURCE_TYPE]    Script Date: 8/3/2020 5:35:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_SOURCE_TYPE](
	[SOURCE_TYPE] [varchar](1) NOT NULL,
	[SOURCE_VALUATION_TYPE] [varchar](1) NOT NULL,
	[PRICE_CALCULATION_TYPE] [varchar](1) NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](20) NULL,
	[CHANGED_DT] [datetime] NULL,
	[SOURCE_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TB_M_SOURCE_TYPE] PRIMARY KEY CLUSTERED 
(
	[SOURCE_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_STD_PURCHASE_PRICE]    Script Date: 8/3/2020 5:35:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_STD_PURCHASE_PRICE](
	[MAT_NO] [varchar](23) NOT NULL,
	[PROD_PURPOSE_CD] [varchar](5) NOT NULL,
	[SOURCE_TYPE] [varchar](1) NOT NULL,
	[PLANT_CD] [varchar](4) NOT NULL,
	[COSTING_RUN_ID] [varchar](8) NOT NULL,
	[VERSION] [varchar](4) NOT NULL,
	[CONDITION_TYPE_CD] [varchar](5) NULL,
	[UOM] [varchar](6) NULL,
	[VALID_FR] [varchar](6) NULL,
	[VALID_TO] [varchar](6) NULL,
	[PRICE_AMT] [numeric](18, 0) NULL,
	[CURR_CD] [varchar](3) NULL,
	[INVENTORY_FLAG] [char](1) NULL,
	[RELEASED_FLAG] [char](1) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](20) NULL,
	[CHANGED_DT] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_R_LOG_D]    Script Date: 8/3/2020 5:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_LOG_D](
	[PROCESS_ID] [bigint] NOT NULL,
	[SEQ_NO] [int] NOT NULL,
	[MESSAGE_ID] [varchar](12) NOT NULL,
	[MESSAGE_TYPE] [char](3) NOT NULL,
	[MESSAGE_CONTENT] [varchar](max) NOT NULL,
	[LOCATION] [varchar](50) NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](50) NULL,
	[CHANGED_DT] [datetime] NULL,
 CONSTRAINT [PK_TB_R_LOG_D] PRIMARY KEY CLUSTERED 
(
	[PROCESS_ID] ASC,
	[SEQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_R_LOG_H]    Script Date: 8/3/2020 5:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_LOG_H](
	[PROCESS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODULE_ID] [varchar](10) NOT NULL,
	[FUNCTION_ID] [varchar](10) NOT NULL,
	[START_DT] [datetime] NOT NULL,
	[END_DT] [datetime] NULL,
	[PROCESS_STATUS] [char](1) NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](50) NULL,
	[CHANGED_DT] [datetime] NULL,
 CONSTRAINT [PK_TB_R_LOG_H] PRIMARY KEY CLUSTERED 
(
	[PROCESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_R_MATERIAL_VALUATION]    Script Date: 8/3/2020 5:35:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_MATERIAL_VALUATION](
	[PROD_PURPOSE_CD] [varchar](5) NOT NULL,
	[MAT_NO] [varchar](23) NOT NULL,
	[SOURCE_TYPE] [varchar](1) NOT NULL,
	[PLANT_CD] [varchar](4) NOT NULL,
	[COSTING_TYPE] [varchar](2) NULL,
	[SPECIAL_PROCUREMENT_TYPE_CD] [varchar](2) NOT NULL,
	[CURR_CD] [varchar](3) NULL,
	[DELETION_FLAG] [varchar](1) NOT NULL,
	[ISSUE_STORAGE_LOCATION] [varchar](6) NULL,
	[TTL_VALUATED_STOCK] [decimal](13, 3) NOT NULL,
	[VALUE_OF_TOTAL_VALUATED_STOCK] [decimal](17, 2) NOT NULL,
	[PRICE_CONTROL_FLAG] [varchar](1) NOT NULL,
	[MOVING_AVERAGE_PRICE] [decimal](15, 2) NOT NULL,
	[STANDARD_PRICE] [decimal](15, 2) NOT NULL,
	[GLOBAL_COST_PRICE] [decimal](15, 2) NOT NULL,
	[VALUATION_CLASS_CD] [varchar](4) NOT NULL,
	[FISCAL_YEAR_CURR_PERIOD] [smallint] NOT NULL,
	[POSTING_PERIOD] [smallint] NOT NULL,
	[COST_ESTIMATED_NO] [bigint] NOT NULL,
	[PERIOD_OF_CURR_COST_ESTIMATION] [smallint] NOT NULL,
	[PERIOD_OF_PREV_COST_ESTIMATION] [smallint] NOT NULL,
	[FY_OF_CURR_COST_ESTIMATION] [smallint] NOT NULL,
	[FY_OF_PREV_COST_ESTIMATION] [smallint] NOT NULL,
	[PREVIOUSE_PLANNED_PRICE] [decimal](15, 2) NOT NULL,
	[CURRENT_PLANNED_PRICE] [decimal](15, 2) NOT NULL,
	[SLOC_FOR_EX_PROC] [varchar](6) NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](20) NULL,
	[CHANGED_DT] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TB_M_CONDITION_TYPE] ([CONDITION_TYPE], [CREATED_DT], [CREATED_BY], [CHANGED_DT], [CHANGED_BY], [CONDITION_TYPE_DESC], [CALCULATION_TYPE]) VALUES (N'DC00', CAST(N'2007-11-28T00:00:00.000' AS DateTime), N'MIGRATION', NULL, N'', N'SLS - Discount', NULL)
INSERT [dbo].[TB_M_CONDITION_TYPE] ([CONDITION_TYPE], [CREATED_DT], [CREATED_BY], [CHANGED_DT], [CHANGED_BY], [CONDITION_TYPE_DESC], [CALCULATION_TYPE]) VALUES (N'GP00', CAST(N'2007-11-28T00:00:00.000' AS DateTime), N'MIGRATION', NULL, N'', N'BASE PRICE (current)', NULL)
INSERT [dbo].[TB_M_CONDITION_TYPE] ([CONDITION_TYPE], [CREATED_DT], [CREATED_BY], [CHANGED_DT], [CHANGED_BY], [CONDITION_TYPE_DESC], [CALCULATION_TYPE]) VALUES (N'LT01', CAST(N'2007-11-28T00:00:00.000' AS DateTime), N'MIGRATION', NULL, N'', N'LUXURY TAX (%)', NULL)
INSERT [dbo].[TB_M_DROPDOWN] ([DROPDOWN_ID], [DROPDOWN_DESC], [DROPDOWN_QUERY], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (N'CONDITION_TYPE', N'Condition Type Combobox', N'select '''' as VALUE, '''' as DESCRIPTION UNION select CONDITION_TYPE as VALUE,  CONDITION_TYPE + '': ''+  CONDITION_TYPE_DESC as DESCRIPTION  from TB_M_CONDITION_TYPE order by VALUE
', N'test', CAST(N'2020-05-26T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_M_DROPDOWN] ([DROPDOWN_ID], [DROPDOWN_DESC], [DROPDOWN_QUERY], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (N'FUNCTION_ID', N'FUNCTION ComboBox', N'select '''' as VALUE, '''' as DESCRIPTION UNION select FUNCTION_ID ,  FUNCTION_ID + '': ''+  FUNCTION_NAME from TB_M_FUNCTION WHERE MODULE_ID LIKE ''%{0}%'' order by VALUE', N'test', CAST(N'2020-06-02T14:32:12.040' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_M_DROPDOWN] ([DROPDOWN_ID], [DROPDOWN_DESC], [DROPDOWN_QUERY], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (N'MESSAGE_TYPE', N'MESSAGE Type', N'select '''' as VALUE, '''' as DESCRIPTION UNION select ''INF'', ''INF'' union select ''WRN'', ''WRN'' union select ''ERR'', ''ERR'' ', N'test', CAST(N'2020-07-01T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_M_FUNCTION] ([MODULE_ID], [FUNCTION_ID], [FUNCTION_NAME], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (N'0', N'001001', N'SAP PO Synchronous Service', N'SYSTEM', CAST(N'2015-09-17T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_M_FUNCTION] ([MODULE_ID], [FUNCTION_ID], [FUNCTION_NAME], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (N'0', N'001002', N'SAP GR Synchronous Service', N'SYSTEM', CAST(N'2015-09-17T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_M_FUNCTION] ([MODULE_ID], [FUNCTION_ID], [FUNCTION_NAME], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (N'0', N'001003', N'SAP SA Synchronous Service', N'SYSTEM', CAST(N'2015-09-17T00:00:00.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[TB_M_MODULE] ([MODULE_ID], [MODULE_NAME], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHABGED_DT]) VALUES (N'0', N'COMMON', N'SYSTEM', CAST(N'2015-09-17T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_M_MODULE] ([MODULE_ID], [MODULE_NAME], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHABGED_DT]) VALUES (N'1', N'MASTER DATA', N'SYSTEM', CAST(N'2015-09-17T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_M_PLANT] ([PLANT_CD], [PLANT_NAME], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT], [PLANT_ADDR], [PLANT_CITY], [PLANT_POSTAL_CD]) VALUES (N'1000', N'Sunter I', N'MIGRATION', CAST(N'2020-05-17T21:37:16.063' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TB_M_PLANT] ([PLANT_CD], [PLANT_NAME], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT], [PLANT_ADDR], [PLANT_CITY], [PLANT_POSTAL_CD]) VALUES (N'2000', N'Sunter II', N'MIGRATION', CAST(N'2020-05-17T21:37:16.063' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TB_M_PLANT] ([PLANT_CD], [PLANT_NAME], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT], [PLANT_ADDR], [PLANT_CITY], [PLANT_POSTAL_CD]) VALUES (N'3000', N'Sunter III', N'MIGRATION', CAST(N'2020-05-17T21:37:16.063' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TB_M_PROD_PURPOSE] ([PROD_PURPOSE_CD], [PROD_PURPOSE_NAME], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (N'99', N'SSP SERVICE PART', N'MIGRATION', CAST(N'2020-05-17T21:37:43.723' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_M_PROD_PURPOSE] ([PROD_PURPOSE_CD], [PROD_PURPOSE_NAME], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (N'D', N'DUMMY', N'MIGRATION', CAST(N'2020-05-17T21:37:43.723' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_M_PROD_PURPOSE] ([PROD_PURPOSE_CD], [PROD_PURPOSE_NAME], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (N'S', N'SERVICE PART', N'MIGRATION', CAST(N'2020-05-17T21:37:43.723' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_M_SLOC] ([PLANT_CD], [SLOC_CD], [SLOC_NAME], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (N'1000', N'0003', N'Sugity Creatives', N'MIGRATION', CAST(N'2020-05-17T21:41:53.303' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_M_SLOC] ([PLANT_CD], [SLOC_CD], [SLOC_NAME], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (N'1000', N'1100', N'Welding', N'MIGRATION', CAST(N'2020-05-17T21:41:53.303' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_M_SLOC] ([PLANT_CD], [SLOC_CD], [SLOC_NAME], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (N'1000', N'1200', N'Painting', N'MIGRATION', CAST(N'2020-05-17T21:41:53.303' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[TB_M_SOURCE_TYPE] ([SOURCE_TYPE], [SOURCE_VALUATION_TYPE], [PRICE_CALCULATION_TYPE], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT], [SOURCE_NAME]) VALUES (N'1', N'N', N'N', N'MIGRATION', CAST(N'2020-05-17T21:43:27.930' AS DateTime), NULL, NULL, N'Local Outhouse')
INSERT [dbo].[TB_M_SOURCE_TYPE] ([SOURCE_TYPE], [SOURCE_VALUATION_TYPE], [PRICE_CALCULATION_TYPE], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT], [SOURCE_NAME]) VALUES (N'2', N'N', N'N', N'MIGRATION', CAST(N'2020-05-17T21:43:27.947' AS DateTime), NULL, NULL, N'Import JSP')
INSERT [dbo].[TB_M_SOURCE_TYPE] ([SOURCE_TYPE], [SOURCE_VALUATION_TYPE], [PRICE_CALCULATION_TYPE], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT], [SOURCE_NAME]) VALUES (N'3', N'N', N'N', N'MIGRATION', CAST(N'2020-05-17T21:43:27.947' AS DateTime), NULL, NULL, N'Local Inhouse')
INSERT [dbo].[TB_M_STD_PURCHASE_PRICE] ([MAT_NO], [PROD_PURPOSE_CD], [SOURCE_TYPE], [PLANT_CD], [COSTING_RUN_ID], [VERSION], [CONDITION_TYPE_CD], [UOM], [VALID_FR], [VALID_TO], [PRICE_AMT], [CURR_CD], [INVENTORY_FLAG], [RELEASED_FLAG], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (N'111010C010', N'D', N'1', N'1000', N'20200101', N'GCMT', N'PB00', N'PC', N'202005', N'202006', CAST(10000 AS Numeric(18, 0)), N'USD', N'0', N'0', N'dummy', CAST(N'2020-07-08T20:55:56.337' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_R_LOG_D] ([PROCESS_ID], [SEQ_NO], [MESSAGE_ID], [MESSAGE_TYPE], [MESSAGE_CONTENT], [LOCATION], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (2, 1, N'ID001INF', N'INF', N'Start', N'Start', N'test123', CAST(N'2020-07-25T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_R_LOG_D] ([PROCESS_ID], [SEQ_NO], [MESSAGE_ID], [MESSAGE_TYPE], [MESSAGE_CONTENT], [LOCATION], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (2, 2, N'ID001ERR', N'ERR', N'Error 1', N'Start', N'test123', CAST(N'2020-07-25T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_R_LOG_D] ([PROCESS_ID], [SEQ_NO], [MESSAGE_ID], [MESSAGE_TYPE], [MESSAGE_CONTENT], [LOCATION], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (2, 3, N'ID001ERR', N'E  ', N'Error 2', N'Start', N'test123', CAST(N'2020-07-25T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TB_R_LOG_H] ON 

INSERT [dbo].[TB_R_LOG_H] ([PROCESS_ID], [MODULE_ID], [FUNCTION_ID], [START_DT], [END_DT], [PROCESS_STATUS], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (1, N'0', N'001004', CAST(N'2020-07-24T00:01:01.000' AS DateTime), CAST(N'2020-07-24T00:02:00.000' AS DateTime), N'2', N'test123', CAST(N'2020-07-24T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_R_LOG_H] ([PROCESS_ID], [MODULE_ID], [FUNCTION_ID], [START_DT], [END_DT], [PROCESS_STATUS], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (2, N'0', N'001004', CAST(N'2020-07-25T00:01:01.000' AS DateTime), CAST(N'2020-07-25T00:02:00.000' AS DateTime), N'3', N'test123', CAST(N'2020-07-24T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[TB_R_LOG_H] ([PROCESS_ID], [MODULE_ID], [FUNCTION_ID], [START_DT], [END_DT], [PROCESS_STATUS], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT]) VALUES (3, N'0', N'001004', CAST(N'2020-07-25T00:01:01.000' AS DateTime), CAST(N'2020-07-25T00:02:00.000' AS DateTime), N'0', N'test123', CAST(N'2020-07-24T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TB_R_LOG_H] OFF
ALTER TABLE [dbo].[TB_R_MATERIAL_VALUATION] ADD  DEFAULT ((0)) FOR [TTL_VALUATED_STOCK]
GO
ALTER TABLE [dbo].[TB_M_FUNCTION]  WITH CHECK ADD  CONSTRAINT [FK_TB_M_FUNCTION_TB_M_MODULE] FOREIGN KEY([MODULE_ID])
REFERENCES [dbo].[TB_M_MODULE] ([MODULE_ID])
GO
ALTER TABLE [dbo].[TB_M_FUNCTION] CHECK CONSTRAINT [FK_TB_M_FUNCTION_TB_M_MODULE]
GO
