<div class="card card-flush pt-3 mb-5 mb-lg-10">
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <form id="sc_form" class="form" action="#" autocomplete="off">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <label class="fw-semibold fs-6 mt-3 col-md-4">Role ID</label>
                        <div class="col-md-8">
                            <input type="text" id="sc_roleId" class="form-control" maxlength="11" autofocus>
                        </div>
                    </div>

                    <div class="fv-row row mb-5">
                        <label class="fw-semibold fs-6 mt-3 col-md-4">Role Name</label>
                        <div class="col-md-8">
                            <input type="text" id="sc_roleName" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row mb-5">
                        <label class="fw-semibold fs-6 mt-3 col-md-4">Application</label>
                        <div class="col-md-8">
                            <select class="form-select" id="sc_applicationName" name="sc_applicationName">
                                <option value="" selected disabled>@ViewBag.AppAlias</option>
                                
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: right;">
                <button type="button" class="btn btn-primary btn-sm" onclick="refresh_table()">Search</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="onClear()"><i class="fas fa-arrow-rotate-right fs-4 me-2 text-white"></i> Clear</button>
            </div>
    <div class="separator my-5"></div>
    </form>
</div>
</div>